.cart_modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
  overflow: hidden;
}
.cart_position {
  width: 100%;
  position: relative;
  height: 100%;
}
.cart-modal-open {
  overflow: hidden;
}
.cart_container {
  max-width: 365px;
  width: 100%;
  font-family: "Arimo", sans-serif;
  position: absolute;
  background-color: #ffffff;
  margin-right: 4rem;
  margin-top: 3.2567rem;
  top: 0;
  right: 0;
  padding: 0rem 1.3rem;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  z-index: 999;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: auto;
  max-height: 550px;
}
.cart_container_noBag {
  max-width: 265px;
  width: 100%;
  font-family: "Arimo", sans-serif;
  position: absolute;
  background-color: #ffffff;
  padding: 0.2rem 0.5rem;
  right: 3.4%;
  top: 6%;
  z-index: 999;
}
.cart_container_noBag h1 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.cart_mini {
  display: flex;
  gap: 0.753rem;
  padding-bottom: 1rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.cart_mini img {
  width: 100%;
  height: 100%;
}
.cart_img {
  width: 5rem !important;
  height: 5rem !important;
  object-fit: contain;
  min-width: fit-content;
}
.cart-added_logo {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 1.5rem;
}
.cart_close {
  position: absolute;
  right: 0%;
}
div h4 {
  color: #000;
  font-weight: 550;
  font-size: 15px;
}
h5 {
  color: #757575 !important;
  font-size: 0.875rem !important;
}
.cart_checkout button {
  color: #fff;
  outline: none;
  border: none;
  background-color: #000;
  font-weight: 500;
  padding-block: 1.2rem;
  width: 85%;
  text-align: center;
  border-radius: 3.75rem;
  font-size: 1rem;
}
.cart_link {
  text-decoration: none;
}
.cart_checkout button:hover {
  background-color: #757575;
  cursor: pointer;
  transition: all 0.2s;
}
.cart_checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  padding-bottom: 1rem;
}

.cart_trashBin {
  position: absolute;
  right: 0;
  bottom: 15%;
  font-size: 1.375rem;
  cursor: pointer;
}
.cart_trashBin:hover {
  color: #9c9c9c;
}
.cart_remove {
  color: rgb(211, 2, 2);
  font-size: 14px;
  cursor: pointer;
}
.cart_remove:hover {
  user-select: none;
  text-decoration: underline;
  color: rgb(226, 19, 19);
}
