.Checkout_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
}
.Checkout_innerCointaner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.Checkout-payments_container {
  max-width: 400px;
  width: 100%;
}
.Checkout-payments_header {
  margin-bottom: 1.875rem;
  color: #111;
  font-weight: 550;
  padding-left: 0.3rem;
}
.Checkout-payments_container span {
  font-size: 12px;
  padding-left: 0.3rem;
  padding-bottom: 8px;
  color: #414141;
}
.Checkout_form input {
  padding: 0.7rem 0.813rem;
  border-radius: 6px;
  outline: none;
  border: 1px solid #e6e8ec;
  margin-bottom: 1rem;
}
.Checkout_form input:focus {
  border: 1px solid #4a5fac;
}
.Checkout-payments_productsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-inline: 2rem;
  padding-block: 2.5rem;
}
.Checkout_email,
.Checkout_creditCard {
  display: flex;
  flex-direction: column;
}
.Checkout-Date_CVV {
  display: flex;
  gap: 1rem;
}
.Checkout-Date_CVV input {
  width: 100%;
  max-width: 192px;
}
.Checkout_Date,
.Checkout_CVV {
  display: flex;
  flex-direction: column;
}
.Checkout_subtotal,
.Checkout_fee,
.Checkout_totalAmount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.Checkout_checkbox {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.Checkout_checkbox input {
  margin: 0;
  accent-color: #272727;
}
hr {
  margin-block: 1.3rem;
}
.Checkout-form_button {
  margin-top: 2.25rem;
}
.Checkout-form_button button {
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: transparent;
  color: #fff;
  background-color: #111;
  border-radius: 6px;
}
.Checkout-payments_container h3 {
  font-size: 12px;
}
.Checkout-payments_container h6 {
  font-size: 15px;
  font-weight: 550;
}
/* products */
.Checkout-products_container {
  width: 40%;
  max-width: 40%;
}
.Checkout-products_header {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
}
.Checkout-products_text {
  background-color: #111;
  color: #fff;
  padding: 0.625rem 0.875rem;
  font-size: 15px;
  line-height: 1.6rem;
  margin-top: 30px;
  border-radius: 4px;
}
.Checkout_date {
  font-size: 14px;
  color: #111;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 550;
  text-align: center;
}
.Checkout-bag_img {
  width: 100%;
  height: 5rem;
  max-width: 5rem;
}
.Checkout-bag_img img {
  object-fit: cover;
}
.Checkout-bag_container {
  max-height: 398px;
  height: fit-content;
  overflow: auto;
}
.Checkout-bag_singleContainer {
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem 1rem;
}
.Checkout-bag_singleContainer {
  display: flex;
  position: relative;
}
.Checkout-bag_text {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-weight: 550;
}
.Checkout-bag_text span {
  padding-right: 1rem;
}
.Checkout-bag_text span:nth-child(2) {
  font-size: 13px;
  margin-top: 0.3rem;
}
.Checkout-bag_text h2 {
  font-weight: normal;
  font-size: 12px;
  margin-block: 0.3rem;
  color: #757575;
}
.Checkout-bag_removeIcon {
  align-items: flex-end;
  font-size: 22px;
  flex-basis: auto;
  align-self: flex-end;
  margin-left: auto;
  position: absolute;
  right: 0.6rem;
  top: 1rem;
}
