.homeUI_contaniner {
  background-color: #111;
  color: #fff;
  padding-inline: 2rem;
  padding-bottom: 4rem;
  padding-top: 3rem;
}
.homeUI_innercontainer {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.homeUI_firstImg {
  width: 100%;
  max-width: 40.625rem;
  object-fit: cover;
}
.homeUI_firstImg h1 {
  font-size: 1.375rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.homeUI_secImg {
  width: 100%;
  object-fit: cover;
  max-width: 43.75rem;
  position: relative;
  height: max-content;
}
.homeUI_firstImg img,
.homeUI_secImg img {
  width: 100%;
  object-fit: cover;
}

.homeUI_secImg h1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.705);
  font-size: 62px;
  bottom: 0;
  left: 3%;
  width: 25rem;
}
