.navbar_container {
  font-family: Inter;
  background-color: #fff;
  padding: 1rem 4rem;
  font-weight: 600;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1003 !important;
  position: relative;
  top: 0;
}

.stickyNav {
  position: fixed;
  top: -100%;
  width: 100%;
  z-index: 1001 !important;
}

.navbar_scroll.stickyNav {
  top: 0;
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_ul {
  display: flex;
  gap: 2.5rem;
}
.navbar_ul li {
  list-style: none;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar_cartLogo {
  display: flex;
  gap: 1rem;
}
.navbar_shoppingBag {
  position: relative;
}
.navbar_shoppingBag svg {
  position: relative;
}
.navbar_searchBar {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
.logo img {
  margin-right: 3.5rem;
}
.navbar-btn_logo {
  position: absolute;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 2.188rem;
  height: 2.188rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.navbar_search {
  border-radius: 0.75rem;
  outline: none;
  border: none;
  position: relative;
  padding: 0.6rem;
  padding-right: 0;
  padding-left: 2.5rem;
  width: 9.375rem;
  background-color: #f3f3f3;
}
.navbar-search_logo {
  text-align: center;
}

.navbar_number {
  position: absolute;
  font-size: 0.625rem;
  right: 35%;
  bottom: 6%;
  font-family: "Arimo", sans-serif;
}
.link {
  text-decoration: none;
  color: #111;
  position: relative;
}

.link.active {
  position: relative;
}

.link::after {
  position: absolute;
  content: "";
  width: 0;
  background-color: #111;
  margin-top: 0.7rem;
  height: 2px;
}

.link.active::after {
  width: 100%;
}

.link:hover::after {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.toggle {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.toggle span {
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: black;
  border-radius: 4px;
  transition: 0.5s;
}
.toggle span:nth-child(1) {
  transform: translateY(-8px);
  width: 15px;
  left: 7px;
}
.toggle span:nth-child(2) {
  transform: translateY(8px);
  width: 10px;
  left: 7px;
}
.toggle.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  width: 20px;
  left: 7px;
}
.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 20px;
  left: 7px;
}
.toggle.active span:nth-child(3) {
  transform: translateX(30px);
}

/* ul container */
@media (max-width: 950px) {
  .navbar_ul {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    z-index: 99;
    width: 100%;
    background-color: #111;
    height: 100%;
    color: #fff;
    justify-content: center;
    overflow: hidden;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .navbar_ul.active {
    transform: translateX(60%);
  }
  .navbar_ul li {
    color: #fff;
    padding-left: 9rem;
  }
  .toggle {
    display: flex;
    z-index: 999;
  }
  .toggle.active {
    background-color: #fff;
  }
  .navbar_container {
    padding: 1rem;
  }
}
@media (max-width: 725px) {
  .navbar_ul.active {
    transform: translateX(40%);
  }
  .navbar_ul li {
    padding-left: 30%;
  }
}

@media (max-width: 500px) {
  .navbar_searchBar {
    display: none;
  }
  .navbar_ul {
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .navbar_ul.active {
    transform: translateX(0%);
  }
  .navbar_ul li {
    padding: 0;
  }
}
