@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: #fff;
  color: #111;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::selection {
  color: #ffffff;
  background: #111;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@media (max-width: 1250px) {
  .products-imageAds img {
    height: auto;
  }
  .Products-flex_container {
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  .Blogs_flex {
    padding: 2.813rem 1rem;
    justify-content: center;
  }
  .BlogsSingle_innerContainer {
    padding-inline: 1.5rem;
  }
  .footer-container_flex {
    padding-inline: 1rem;
  }
  .about-us_center,
  .contact-us_innerContainer {
    margin-inline: 1rem;
  }
  .product_container {
    padding-inline: 1.2rem;
  }
}
@media (max-width: 1180px) {
  .Products-images_container {
    gap: 1rem;
  }
}
@media (max-width: 1150px) {
  .Blogs-data_container {
    max-width: 20.625rem;
  }
  .Blogs_flex {
    padding: 2.813rem 0.5rem;
  }
}
@media (max-width: 1140px) {
  .Products-images_container {
    margin-left: 1rem;
  }
}
@media (max-width: 1080px) {
  .Products-images_container {
    flex-direction: column;
  }
  .main-image_container {
    width: 34.375rem;
  }
  .Products-flex_container {
    justify-content: center;
  }
  .sub-images_container {
    flex-direction: row;
  }
}
@media (max-width: 1070px) {
  .Blogs-data_container {
    max-width: 18.75rem;
  }
  .about-us_text {
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 1031px) {
  .about-us_text p {
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 1000px) {
  .footer_single {
    max-width: none;
    width: 100%;
  }
  .footer_accounts {
    margin-top: 1.5rem;
  }
  .footer_container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  .footer_email label input {
    width: 100%;
  }
  .footer_email {
    width: 100%;
    display: flex;
  }
  .about-us_center {
    flex-direction: column;
  }
  .about-us_text {
    margin-left: 0;
    max-width: none;
    width: 100%;
    padding: 2.5rem 1.875rem 1.875rem 2.5rem;
  }
  .about-us_text p {
    margin-bottom: 1rem;
  }
  .about-us_center img {
    max-width: none;
    width: 100%;
    height: 34.375rem;
    min-width: none;
    object-fit: cover;
  }
  .contact-us_innerContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .leaflet-container {
    max-width: none;
  }
  .contact-us_contactDetails {
    max-width: none;
    margin-top: 1.5rem;
  }
}
@media (max-width: 950px) {
  .product-filter_container {
    display: none;
  }
  .testing {
    grid-template-columns: repeat(2, minmax(0, 66%));
  }
  .Products-text_seeAll {
    display: none;
  }
  .Products-flex_container {
    flex-direction: column;
  }
  .Products_aside h1,
  .Products-aside_subTitle,
  .Products_price {
    display: none;
  }
  .slide-image_container {
    gap: 1.2rem;
  }
  .slide-icons_flex {
    padding-inline: 1rem;
  }
  .Products_aside {
    max-width: none;
  }
  .Products-images_container {
    justify-content: center;
    align-items: center;
  }
  .Products_adds-text {
    display: block;
    z-index: 999;
  }
  .Products_container {
    height: fit-content;
  }
  .Products-flex_container {
    margin-top: 1rem;
  }
  .main-image_container {
    max-width: 40.625rem;
    width: 100%;
  }
  .Products_adds-text h1 {
    font-size: 1.5rem;
  }
  .Products-cty_sizes {
    margin-top: 0.3rem;
  }
  .Products_interest {
    margin-top: 2.5rem;
  }
}
@media (max-width: 975px) {
  .hero_images {
    display: none;
  }
  .hero_layout {
    margin-left: 0;
  }
}
@media (max-width: 979px) and (min-width: 650px) {
  .Blogs-data_container {
    max-width: 21.875rem;
  }
  .Blogs_logo h1 {
    font-size: 2.5rem;
  }
  .about_logo h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 865px) {
  .Checkout_container {
    height: fit-content;
    margin-top: 5rem;
  }
  .Checkout-payments_productsContainer {
    flex-direction: column;
  }
  .Checkout-payments_container {
    max-width: none;
  }
  .Checkout-products_container {
    width: 100%;
    max-width: 100%;
    margin-top: 3.5rem;
  }
}
@media (max-width: 745px) {
  .Blogs-data_container {
    max-width: 17.5rem;
  }
  .products-imageAds {
    display: none;
  }
  .hero-autoplay_text {
    height: 3.75rem;
    padding: 0;
    padding-top: 0.875rem;
  }
  .text2 {
    padding-top: 1.3rem;
  }
  .products_h1 {
    display: block;
  }
  .product_flex img {
    object-fit: cover;
  }
  .cart_img,
  .cart_mini img {
    object-fit: cover;
  }
}
@media (max-width: 700px) {
  .testing {
    grid-template-columns: repeat(1, minmax(0, 100%));
  }
  .Products-images_container {
    padding-right: 1rem;
  }
  .Products-images_container {
    justify-content: start;
    align-items: start;
  }
  .Products_adds-text p {
    margin-block: 0.5rem;
    color: #111;
    font-weight: 500;
  }
  .Products-size {
    margin-top: 1rem;
  }
  .Products-images_container {
    margin-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .main-image_container {
    max-width: none;
  }
  .Products_adds-text h1 {
    line-height: 1.1;
  }
}
@media (max-width: 675px) {
  .hero-icons_container {
    display: none;
  }
  .HomeImages_container {
    padding-inline: 1rem;
  }
  .homeUI_contaniner {
    padding-inline: 1rem;
  }
}
@media (max-width: 649px) {
  .Blogs_logo h1 {
    font-size: 1.5rem;
  }
  .about_logo h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 628px) {
  .footer-container_flex {
    justify-content: start;
    gap: 1rem;
  }
  .subs_email {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 604px) {
  .Blogs-data_container {
    max-width: 100%;
    margin-inline: 1rem;
  }
  .Products-images_container {
    align-items: start;
  }
  .HomeImages_images {
    gap: 0.753rem;
  }
}
@media (max-width: 550px) {
  .hero_layout {
    width: 100%;
    text-align: center;
  }
  .hero_layout h2 {
    font-size: 2.625rem;
  }
  .hero_layout p {
    font-size: 0.75rem;
    width: 100%;
    padding-right: 1rem;
  }
  .homeUI_secImg h1 {
    font-size: 1.5rem;
    max-width: 10rem;
    width: 100%;
  }
  .homeUI_firstImg h1 {
    font-size: 1.125rem;
  }
  .homeUI_firstImg p {
    font-size: 0.75rem;
  }
  .h1_absolute {
    font-size: 1.125rem;
    margin-left: 1rem;
  }
  .HomeImages-inner_container {
    font-size: 1.125rem;
  }
  .HomeImages_titles h1 {
    font-size: 1rem;
  }
  .HomeImages_titles button {
    font-size: 0.75rem;
  }
  .homeImages-h1 {
    font-size: 1.125rem;
  }
  .homeCarousel_container {
    padding: 1rem;
  }
  .HomeImages_images {
    flex-direction: column;
    gap: 3rem;
  }
}
@media (max-width: 500px) {
  .BlogsSingle_innerContainer h1 {
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    font-size: clamp(1rem, 10vw, 2rem);
  }
  .slide-image_container,
  .slide-icons_flex {
    display: none;
  }
  .Products_aside {
    min-width: 0px;
    max-width: none;
  }
}
@media (max-width: 448px) {
  .footer_accounts {
    max-width: 9.375rem;
  }
  .container {
    padding-left: 0;
  }
}
@media (max-width: 430px) {
  .homeUI_contaniner {
    display: none;
  }
  .carousel-item-container {
    padding: 0;
  }
}
@media (max-width: 414px) {
  .about-us_center img {
    object-fit: contain;
  }
  .about-us_center,
  .contact-us_innerContainer {
    padding: 1.2rem;
  }
}
@media (max-width: 400px) {
  .BlogsSingle_headline {
    font-size: 0.75rem;
  }
}
