@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: #fff;
  color: #111;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::selection {
  color: #ffffff;
  background: #111;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@media (max-width: 1250px) {
  .products-imageAds img {
    height: auto;
  }
  .Products-flex_container {
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  .Blogs_flex {
    padding: 2.813rem 1rem;
    justify-content: center;
  }
  .BlogsSingle_innerContainer {
    padding-inline: 1.5rem;
  }
  .footer-container_flex {
    padding-inline: 1rem;
  }
  .about-us_center,
  .contact-us_innerContainer {
    margin-inline: 1rem;
  }
  .product_container {
    padding-inline: 1.2rem;
  }
}
@media (max-width: 1180px) {
  .Products-images_container {
    gap: 1rem;
  }
}
@media (max-width: 1150px) {
  .Blogs-data_container {
    max-width: 330px;
  }
  .Blogs_flex {
    padding: 2.813rem 0.5rem;
  }
}
@media (max-width: 1140px) {
  .Products-images_container {
    margin-left: 1rem;
  }
}
@media (max-width: 1080px) {
  .Products-images_container {
    flex-direction: column;
  }
  .main-image_container {
    width: 550px;
  }
  .Products-flex_container {
    justify-content: center;
    /* align-items: center; */
  }
  .sub-images_container {
    flex-direction: row;
  }
}
@media (max-width: 1070px) {
  .Blogs-data_container {
    max-width: 300px;
  }
  .about-us_text {
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 1031px) {
  .about-us_text p {
    margin-bottom: 0.3rem;
  }
}
@media (max-width: 1000px) {
  .footer_single {
    max-width: none;
    width: 100%;
  }
  .footer_accounts {
    margin-top: 1.5rem;
  }
  .footer_container {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  .footer_email label input {
    width: 100%;
  }
  .footer_email {
    width: 100%;
    display: flex;
  }
  .about-us_center {
    flex-direction: column;
  }
  .about-us_text {
    margin-left: 0;
    max-width: none;
    width: 100%;
    padding: 40px 30px 30px 40px;
  }
  .about-us_text p {
    margin-bottom: 1rem;
  }
  .about-us_center img {
    max-width: none;
    width: 100%;
    height: 550px;
    min-width: none;
    object-fit: cover;
  }
  .contact-us_innerContainer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .leaflet-container {
    max-width: none;
  }
  .contact-us_contactDetails {
    max-width: none;
    margin-top: 1.5rem;
  }
}
@media (max-width: 950px) {
  .product-filter_container {
    display: none;
  }
  .testing {
    grid-template-columns: repeat(2, minmax(0, 66%));
  }
  .sub-images_container {
    display: none;
  }
}
@media (max-width: 979px) and (min-width: 650px) {
  .Blogs-data_container {
    max-width: 350px;
  }
  .Blogs_logo h1 {
    font-size: 2.5rem;
  }
  .about_logo h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 745px) {
  .Blogs-data_container {
    max-width: 280px;
  }
  .products-imageAds {
    display: none;
  }
  .hero-autoplay_text {
    height: 60px;
    padding: 0;
    padding-top: 0.875rem;
  }
  .text2 {
    padding-top: 1.3rem;
  }
  .products_h1 {
    display: block;
  }
}
@media (max-width: 700px) {
  .testing {
    grid-template-columns: repeat(1, minmax(0, 100%));
  }
}
@media (max-width: 649px) {
  .Blogs_logo h1 {
    font-size: 1.5rem;
  }
  .about_logo h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 628px) {
  .footer-container_flex {
    justify-content: start;
    gap: 1rem;
  }
  .subs_email {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 604px) {
  .Blogs-data_container {
    max-width: 100%;
    margin-inline: 1rem;
  }
}
@media (max-width: 500px) {
  .BlogsSingle_innerContainer h1 {
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    font-size: clamp(1rem, 10vw, 2rem);
  }
}
@media (max-width: 448px) {
  .footer_accounts {
    max-width: 150px;
  }
}
@media (max-width: 414px) {
  .about-us_center img {
    object-fit: contain;
  }
  .about-us_center,
  .contact-us_innerContainer {
    padding: 1.2rem;
  }
}
@media (max-width: 400px) {
  .BlogsSingle_headline {
    font-size: 12px;
  }
}
